* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffb900;
    --font-heading: Sen, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* common */

a {
    text-decoration: none;
}

.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 17px 16px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #ffffff;
    background: #171100;
    border-radius: 999px;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.btn:hover {
    opacity: 0.7;
}

/* header */

.header {
    background: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .navbar {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.navbar ul {
    display: flex;
    margin-left: auto;
}

.navbar ul a {
    position: relative;
    font-size: 1.6rem;
    color: #5f5b53;
    padding: 8px 21px;
}

.navbar ul a:hover,
.navbar li.active a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.navbar li.active a::after {
    position: absolute;
    content: "";
    width: 12px;
    height: 2px;
    left: 21px;
    bottom: 6px;
    background: #171100;
    border-radius: 1px;
}

.navbar .sign-up-btn {
    min-width: 144px;
}

.navbar .action {
    margin-left: 49px;
}

/* hero */

.hero-wrap {
    padding: 56px 0 65px;
    background: #fffcf4;
}

.hero-wrap .body {
    display: flex;
}

.hero-wrap .media-block {
    position: relative;
    width: 48%;
}

.hero-wrap .media-block .img {
    display: block;
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero-wrap .hero-summary {
    position: absolute;
    width: 270px;
    padding: 28px 24px;
    bottom: 48px;
    right: 0;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.hero-wrap .hero-summary .item {
    display: flex;
    align-items: center;
}

.hero-wrap .item + .item {
    margin-top: 22px;
}

.hero-wrap .media-block .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #fff9e8;
}

.hero-wrap .media-block .item:nth-child(2) .icon {
    background: #fcefff;
}

.hero-wrap .media-block .item:nth-child(3) .icon {
    background: #ebeaff;
}

.hero-wrap .info {
    margin-left: 16px;
}

.hero-wrap .media-block .label {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.hero-wrap .media-block .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.hero-wrap .content-block {
    padding-left: 130px;
    padding-top: 56px;
    width: 52%;
}

.hero-wrap .content-block .heading {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #171100;
}

.hero-wrap .content-block .desc {
    margin-top: 22px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.hero-wrap .content-block .hero-btn {
    min-width: 180px;
    padding: 24px 16px;
    background: var(--primary-color);
}

.hero-wrap .content-block .cta-group {
    display: flex;
    align-items: center;
    margin: 38px 0 48px;
}

.hero-wrap .content-block .watch-video {
    display: flex;
    align-items: center;
    margin-left: 26px;
    border: none;
    background: #fffcf4;
}

.hero-wrap .content-block .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero-wrap .content-block .stats {
    margin-top: 8px;
}

.hero-wrap .content-block span {
    margin-left: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.hero-wrap .content-block strong {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
}

.hero-wrap .content-block strong:nth-child(2) {
    margin-left: 28px;
}

/* popular */

.popular {
    margin-top: 200px;
}

.popular-desc {
    display: flex;
    align-items: center;
}

.popular-desc .courses {
    width: 458px;
}

.popular .popular-desc .sub-title {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
}

.popular .popular-desc .desc {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.popular .popular-desc .active {
    display: flex;
    margin-left: auto;
    gap: 18px;
}

.popular .popular-desc .control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    gap: 18px;
}

.popular .popular-desc .control:hover {
    background: var(--primary-color);
    color: #fff;
    cursor: pointer;
}

/* popular info courses */

.popular .list {
    display: flex;
    margin: 55px 0 200px;
    gap: 30px;
}

.popular .list .item {
    border: 1px solid #e2dfda;
    border-radius: 12px;
    flex: 1;
}

.popular .list .item:hover {
    background: #ffffff;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
}

.popular .list .img {
    width: calc(100% + 2px);
    height: 278px;
    margin: -1px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.popular .list .body {
    display: flex;
    align-items: center;
    margin: 16px 22px 0 22px;
}

.popular .list .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
    padding-right: 6px;
}

.popular .list .icon {
    margin-left: auto;
}

.popular .list .number {
    margin-left: 6px;
}

.popular .list .desc {
    margin: 6px 22px 0 22px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.popular .list .book-now {
    display: flex;
    align-items: center;
    margin: 12px 22px 22px;
}

.popular .list .price {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.popular .list .btn {
    margin-left: auto;
    background: #171100;
}

.popular .list .btn:hover {
    background: #ffb900;
}
/* feedback */

.feedback {
    background: #2e2100;
    padding: 96px 0;
}

.feedback .feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback .info {
    display: flex;
    width: 100%;
    flex-shrink: 0;
}

.feedback .student {
    width: 159px;
}

.feedback .student .img {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
}

.feedback .student .name {
    margin-top: 18px;
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.42;
    color: #f7f7f7;
}

.feedback .student .desc {
    margin-top: 4px;
    font-weight: 400;
    font-size: 1.4rem;
    color: #bfbcb3;
}

.feedback .student .dots {
    display: flex;
    margin-top: 28px;
    gap: 6px;
}

.feedback .student .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    cursor: pointer;
}

.feedback .student .dot.active {
    background: #ffb900;
    cursor: default;
}

.feedback .desc-feedback {
    margin-left: auto;
    width: 66%;
}

.feedback .desc-feedback .desc {
    margin-left: 30px;
    font-style: italic;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #ffffff;
}

/* features */

.features {
    margin-top: 200px;
}

.features .learn {
    display: flex;
}

.features .learn .image {
    display: flex;
    width: 48%;
}

.features .learn .img {
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}

.features .learn .img:nth-child(1) {
    margin-top: 34px;
}

.features .learn .img:nth-child(2) {
    margin-left: 30px;
}

.features .learn .info {
    width: 52%;
    margin-top: 58px;
    margin-left: 130px;
}

.features .info .title {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
}

.features .info .desc {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5f5b53;
}

.features .info .btn {
    margin-top: 32px;
    min-width: 137px;
}

.features .info .btn:hover {
    background: var(--primary-color);
    border-color: var(--primary-color);
}

/* features-2nd */

.features-2nd {
    margin-top: 200px;
}

.features-2nd .body {
    display: flex;
    justify-content: space-between;
}

.features-2nd .body .info {
    margin-top: 71px;
    width: 48%;
}

.features-2nd .info .title {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
}

.features-2nd .info .desc {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5f5b53;
}

.features-2nd .info .btn {
    margin-top: 32px;
    min-width: 137px;
    padding: 15px 16px;
}

.features-2nd .info .images {
    width: 52px;
    margin-left: 130px;
}

.features-2nd .body .img {
    width: 470px;
    height: 440px;
    object-fit: cover;
    border-radius: 20px;
}

/* blog */

.blog {
    margin-top: 200px;
    background: #fffcf4;
    padding: 96px 0;
}

.blog .desc-blog {
    margin-left: 361px;
    text-align: center;
    width: 448px;
}

.blog .desc-blog .title {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #130606;
}

.blog .desc-blog .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #696262;
}

.blog .list {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
    gap: 30px;
}

.blog .list .item {
    flex: 1;
    background: #ffffff;
    border-radius: 16px;
}

.blog .list .item:hover {
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
}

.blog .list .img {
    width: 370px;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}

.blog .list .info {
    width: 330px;
    padding: 20px 20px 28px;
}

.blog .list .thumb {
    display: flex;
    align-items: center;
}

.blog .thumb .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--primary-color);
}

.blog .thumb .desc {
    margin-left: 4px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.blog .list .hr {
    margin-top: 12px;
    width: 160px;
    height: 1.2px;
    background: #e9e9e9;
    /* border-radius: 0.5px; */
}

.blog .list .sub-title {
    margin-top: 12px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #171100;
}

.blog .list .btn {
    margin-top: 12px;
}

.blog .list .btn:hover {
    background: #ffb900;
}

.blog .dots {
    display: flex;
    justify-content: center;
    margin-top: 38px;
    gap: 6px;
    cursor: pointer;
}

.blog .dots .dot {
    width: 6px;
    height: 6px;
    background: #5f5b53;
    border-radius: 50%;
}

.blog .dots .dot.active {
    background: #ffb900;
    cursor: default;
}

/* footer */

.footer {
    background: #2e2100;
    padding-top: 96px;
}

.footer .row {
    display: flex;
    align-items: center;
    padding-bottom: 38px;
}

.footer .column {
    width: 21.6%;
}

.footer .column:first-child {
    width: 35%;
}

.footer .column .desc {
    margin-top: 18px;
    max-width: 267px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb2;
}

.footer .icons {
    display: flex;
    margin-top: 18px;
    gap: 18px;
}

.footer .column .title {
    font-family: var(--font-heading);
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #ffffff;
}

.footer .column .separate {
    margin-top: 14px;
    width: 130px;
    height: 1.2px;
    background: #59554b;
}

.footer .list {
    margin-top: 28px;
}

.footer .list li a {
    display: inline-block;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb2;
}

.footer .list li:last-child a {
    margin-bottom: 0px;
}

.footer .list li strong {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #ffffff;
}

.footer .separate {
    width: 1170px;
    height: 1.2px;
    background: #59554b;
}

.footer .end {
    padding: 28px 0px;
    font-weight: 400;
    font-size: 1.4rem;
    text-align: center;
    color: #807d74;
}
